<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Tasks</h1>
    <% if(tasks.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Tasks</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<tasks.length; i++){ %>
            <tr>
                <td><%= tasks[i].task_name %></td>
                <td><%= tasks[i].priority %></td>
                <td><%= tasks[i].deadline.toDateString() %></td>
                <td><%= tasks[i].date_created.toDateString() %></td>
                <td>
                    <form action="tasks/<%= tasks[i]._id %>" method="post">
                        <input type="hidden" value="delete">
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>  
    <h1>Add a new task</h1>
    <form action="/tasks" method="post">
    	<p>Task Name: <input type="text" name="task_name" placeholder="Task Name"></p>
    	<p>Priority: 
    		<select name="priority">
                <option value="">Select Priority</option>
    			<option value="LOW">LOW</option>
    			<option value="MEDIUM">MEDIUM</option>
    			<option value="HIGH">HIGH</option>    			
    		</select>
    	</p>
    	<p>Deadline: <input type="date" name="deadline"></p>
    	<input type="submit" value="Create">
    </form>
</body>
</html>
